body {
	padding-top: 60px;
}

/*.wheel {
	border-radius: 25px;
	border-style: solid;
	margin: 5px;
}*/

/*.rover-body {
	border-radius: 25px;
	border-style: solid;
	height: 225px;
	overflow: hidden;
}*/

.equal, .equal > div[class*='col-'] {
    display: -webkit-flex;
    display: flex;
    flex:1 1 auto;
}

.setup-page th, .setup-page td {
	padding: 3px 10px;
}

.setup-page .tcp-connect-btn {
	padding: 2px;
	text-align: center;
}

.setup-page {
	margin-bottom: 20px;
}

/* Map */
#map {
	min-height: 300px;
}

/* Setup page */
.joystick-axes {
	font-size: 7px;
}

/*body {
	background-image: url('mars.jpg');
	background-position: center;
}*/


.hidden {
	display: none !important;
}