html, body
  height: 100%
  width: 100%

#app-container
  height: 100%
  width: 100%

.ViewContainer
  display: flex
  flex-wrap: wrap
  height: 100%

#map
  flex-grow: 2

.panelTest
  flex-grow: 0.5
